* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

/* Container Start */

.container {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 10px;
}

.containerHeader {
  width: 100vw;
  text-align: center;
  color: white;
  background-color: grey;
  padding: 30px;
  box-shadow: 0 0 10px 5px grey;
}

.cardContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: max-content;
  justify-content: safe center;
  gap: 20px;
  padding: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  height: auto;
  font-family: "Times New Roman", Times, serif;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: grey;
  color: white;
  font-weight: bold;
}

.containerFooter {
  justify-self: center;
}

.addButton {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: grey;
  color: white;
  font-weight: bolder;
}

/* Container End */

/* Dialog Start */

#myDialog {
  align-self: center;
  justify-self: center;
  background-color: white;
  border: 3px solid grey;
  max-width: 350px;
  border-radius: 20px;
}

.dialogHeader {
  background-color: grey;
  width: 100%;
  padding: 10px 20px;
}

.dialogHeader > h3 {
  text-align: center;
  color: white;
  font-weight: bolder;
}

/* Form Start */

#containerForm {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.formRow,
.formRowCover,
.formRowStatus,
.buttonForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.formRowCover > input::file-selector-button,
.formRowStatus > select,
.buttonForm > button,
.formRow input {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}

label {
  font-weight: bolder;
  color: black;
  font-weight: bolder;
  -webkit-text-stroke: 0.5px grey;
}

.formRow label {
  width: auto;
  flex-shrink: 0;
  text-align: center;
}

.formRow input {
  flex-grow: 1;
  width: 70%;
  text-align: center;
}

.formRowCover {
  text-align-last: center;
}

.buttonForm {
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  cursor: pointer;
}

/* Dialog And Form End  */

/* DOM cardContainer Start */

.bookCover {
  align-self: center;
  height: 200px;
  width: 180px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.bookTitle {
  align-self: center;
}

.buttonBook {
  display: flex;
  justify-content: flex-end;
}

.buttonIcon {
  width: 24px;
  height: 24px;
  display: block;
  pointer-events: none;
}

.statusButton,
.deleteButton {
  padding: 5px;
  filter: brightness(0) invert(1);
  height: max-content;
  width: max-content;
  border: none;
  background: none;
  cursor: pointer;
}

/* DOM cardContainer End */
