* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 10px;
}

.actionBtn {
  display: flex;
  justify-content: flex-end;
}

.statusBtn,
.deleteBtn {
  background: none; /* Menghapus latar belakang abu-abu */
  border: none; /* Menghapus garis tepi kotak */
  padding: 5px; /* Memberikan ruang klik yang nyaman */
  cursor: pointer; /* Mengubah kursor menjadi jari penunjuk */
  height: max-content;
  width: max-content;
}

.btnIcon {
  width: 24px;
  height: 24px;
  display: block;
  pointer-events: none;
}

.title {
  background-color: grey;
  width: 100vw;
  text-align: center;
  color: white;
  padding: 30px;
  box-shadow: 0px 0px 10px 5px grey;
}

.bookTitle {
  align-self: center;
}

.bookCover {
  align-self: center;
  height: 200px;
  width: 180px;
  border-radius: 20px;
}

.card-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: max-content;
  width: auto;
  height: auto;
  justify-content: safe center;
  gap: 20px;

  padding: 30px;
  overflow-x: auto;
  overflow-y: hidden;
}
.cardContent {
  height: max-content;
  width: 200px;
  background-color: grey;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.statusBtn,
.deleteBtn {
  filter: brightness(0) invert(1);
}

.addBook {
  border: none;
  padding: 10px;
  color: white;
  font-weight: bolder;
  background-color: grey;
  border-radius: 10px;
}

.action {
  justify-self: center;
}

#my-dialog {
  align-self: center;
  justify-self: center;
  max-width: 350px;
  border-radius: 20px;
  background-color: white;
  border: 3px solid grey;
}

.formHeader,
#bookForm {
  padding: 10px 20px;
}

.formRow,
.formCover,
.formStatus,
.btnForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
#bookForm {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bolder;
}

.btnForm {
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  cursor: pointer;
}

.formRow label {
  width: auto;
  flex-shrink: 0;
  text-align: center;
}

.formCover {
  text-align-last: center;
}

.formCover > input::file-selector-button,
.formStatus > select {
  background-color: grey;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.formRow input {
  flex-grow: 1;
  width: 70%;
  border-radius: 10px;
  border: none;
  background-color: grey;
  color: white;
  padding: 5px 0;
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
  font-weight: bolder;
}

.formHeader {
  background-color: grey;
  width: 100%;
}

.btnForm > button {
  background-color: grey;
  border: none;
  padding: 10px 5px;
  border-radius: 10px;
  flex: 1;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
